<div class="form-group" [formGroup]="myFormGroup">

    <input formControlName="pwd" type="password" class="form-control" id="exampleInputPassword1"
        [class.form-control-danger]="myFormGroup.get('pwd').hasError('required') && myFormGroup.get('pwd').touched"
        placeholder="Password" (input)="onGetPassword($event.target.value)">

    <div *ngIf="myFormGroup.get('pwd').hasError('required') && myFormGroup.get('pwd').touched"
        class="form-control-feedback">Password required</div>

    <div *ngIf="myFormGroup.get('pwd').hasError('minlength') && myFormGroup.get('pwd').touched"
        class="form-control-feedback">Minimum length is 6 characters. Add more!</div>


</div>