.form-group{
    padding: 10px;
}
.form-control-feedback{
    animation: 1.0s alertAnim forwards;
}

@keyframes alertAnim {
  from {
      opacity:0;
      transform: translateY(-20px);
      color: red;
  }
  to {
      opacity:1;
      transform: translateY(0);
      color: red;
  }
}